<mat-form-field>
    <mat-label>Search ESB Applications</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search Application">
</mat-form-field>
  
<div class="data-table-wrapper">
    <div class="app-list-title-container">
      <i class="fa fa-list dashboard-icon"></i>
      <span class="app-list-title">List of all applications</span>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> App Name</th>
        <td mat-cell *matCellDef="let row"> 
          <span class="app-name">{{row.name}}</span>  
        </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> 
          <span [class]="getStyleClassforStatusColumn(row.status)">
            {{row.status}}
          </span>  
        </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="env">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Environment </th>
        <td mat-cell *matCellDef="let row"> 
          <span class="env">{{row.env}}</span>
        </td>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> See Details </th>
        <td mat-cell *matCellDef="let row"> 
            <a href="#" (click)="goToDetailsPage($event, row.id)">Click Here</a> 
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>
