.dashboard-container{
    padding: 30px 70px;
    background-color: #ecf0f5;
    .dashboard-title-container{
        background-color: #dd4b39;
        margin-bottom: 20px;
        font-size: 18px;
        border-radius: 2px;
        border: 1px solid #c06e63;
        .dashboard-title{
            display: inline-block;
            padding: 10px 30px;
            background-color: #d73925;
            color: #fff;
        }
        .dashboard-icon{
            margin-left: 10px;
            color: #f0b3ac;
        }
    }
    .app-count-container{
        margin-left: 0;
        margin-right: 0;
        display: flex;
        .count-tile{
            width: calc(calc(100% - 50px) / 3);
            padding: 10px 8px 10px 14px;
            border-radius: 1px;
            .tile-left-section{
                display: inline-block;
                width: calc(100% - 40px);
                .count{
                    color: #fcfcfc;
                    font-size: 30px;
                }
                .count-label{
                    margin-top: 8px;
                    color: #fcfcfc;
                    font-size: 14px;
                }
            }
            .tile-right-section{
                display: inline-block;
                vertical-align: top;
                width: 40px;
                >i{
                    font-size: 70px;
                }
            }
        }
        .total-count-tile{
            margin-right: 25px;
            //background-color: #605ca8;
            background-image: linear-gradient(to left, rgba(96, 92, 168, 0.7), rgba(96, 92, 168, 1), rgba(96, 92, 168, 1));
            border: 1px solid #9c9cc8;
            .tile-right-section{
                >i{
                    font-size: 40px;
                    position: relative;
                    top: 16px;
                    color: #524e8f;
                }
            }
        }
        .up-count-tile{
            margin-right: 25px;
            //background-color: #00a65a;
            background-image: linear-gradient(to left, rgba(0, 166, 90, 0.7), rgba(0, 166, 90, 1), rgba(0, 166, 90, 1));
            border: 1px solid #50bb8d;
            .tile-right-section{
                >i{
                    color: #008d4d;
                }
            }
        }
        .down-count-tile{
            //background-color: #f39c12;
            background-image: linear-gradient(to left, rgba(243, 156, 18, 0.7), rgba(243, 156, 18, 1), rgba(243, 156, 18, 1));
            border: 1px solid #eab45f;
            .tile-right-section{
                >i{
                    color: #cf850f;
                }
            }
        }
    }
    .top-reasons-n-apps-container{
        margin-top: 25px;
        display: flex;
        .top-reasons-container {
            margin-right: 25px;
            width: calc(50% - 12.5px);
        }
        .top-apps-container {
            width: calc(50% - 12.5px);
        }
    }
    .overall-n-env-downcount-container{
        margin-top: 25px;
        display: flex;
        .overall-downcount-container {
            margin-right: 25px;
            width: calc(50% - 12.5px);
        }
        .env-wise-downcount-container {
            width: calc(50% - 12.5px);
        }
    }
    .esb-app-list-container{
        margin-top: 15px;
    }
}

@media only screen and (max-width: 992px) {
    .dashboard-container{
        .overall-n-env-downcount-container{
            flex-direction: column;
            .overall-downcount-container {
                margin-right: 0;
                width: 100%;
                margin-bottom: 25px;
            }
            .env-wise-downcount-container {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .dashboard-container{
        padding: 30px 15px;
        background-color: #ecf0f5;
        .dashboard-title-container{
            .dashboard-title{
                padding: 6px 10px;
                font-size: 16px;
            }
            .dashboard-icon{
    
            }
        }
        .app-count-container{
            flex-direction: column;
            .count-tile{
                width: 100%;
                margin-right: 0;
                margin-bottom: 7px;
                padding: 5px 8px 5px 15px;
                border-radius: 0;
                &.total-count-tile {
                    background-color: #605ca8;
                }
                &.up-count-tile {
                    background-color: #00a65a;
                }
                &.down-count-tile {
                    background-color: #f39c12;
                }
                .tile-left-section{
                    .count{
                        font-size: 22px;
                    }
                    .count-label{
                        margin-top: 0;
                    }
                }
                .tile-right-section{
                    position: relative;
                    i{
                        position: absolute;
                    }
                }
            }
        }
        .top-reasons-n-apps-container{
            flex-direction: column;
            .top-reasons-container {
                margin-right: 0;
                width: 100%;
                margin-bottom: 25px;
            }
            .top-apps-container {
                width: 100%;
            }
        }
    }
}