
<div class="dashboard-container">
  <div class="dashboard-title-container">
    <span class="dashboard-title">ESB Applications Dashboard</span>
    <i class="fa fa-list dashboard-icon">
    </i>
  </div>
  <div class="app-count-container">
    <div class="count-tile total-count-tile">
      <div class="tile-left-section">
        <div class="count">68</div>
        <div class="count-label">Total ESB Apps</div>
      </div>
      <div class="tile-right-section">
        <i class="fa fa-tasks">
        </i>
      </div>
    </div>
    <div class="count-tile up-count-tile">
      <div class="tile-left-section">
        <div class="count">59</div>
        <div class="count-label">ESB Apps up and running</div>
      </div>
      <div class="tile-right-section">
        <i class="fa fa-caret-up">
        </i>
      </div>
    </div>
    <div class="count-tile down-count-tile">
      <div class="tile-left-section">
        <div class="count">9</div>
        <div class="count-label">ESB Apps down</div>
      </div>
      <div class="tile-right-section">
        <i class="fa fa-caret-down">
        </i>
      </div>
    </div>
  </div>
  <div class="top-reasons-n-apps-container">
    <div class="top-reasons-container">
      <app-top-reasons></app-top-reasons>
    </div>
    <div class="top-apps-container">
      <app-top-apps></app-top-apps>
    </div>
  </div>
  <div class="overall-n-env-downcount-container">
    <div class="overall-downcount-container">
      <app-overall-down-count></app-overall-down-count>
    </div>
    <div class="env-wise-downcount-container">
      <app-env-wise-dowm-count></app-env-wise-dowm-count>
    </div>
  </div>
  <div class="esb-app-list-container">
    <app-esb-app-list (detailsLinkClicked)="goToDetailsPage($event)"></app-esb-app-list>
  </div>
  <!--
  <div class="col-12 p-2">
    <table class="table table-condensed table-striped table-dark" cdk-table [dataSource]="postDataSource">
  
      <ng-container cdkColumnDef="id">
        <th cdk-header-cell *cdkHeaderCellDef> ID </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container cdkColumnDef="userId">
        <th cdk-header-cell *cdkHeaderCellDef> User ID </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.userId}} </td>
      </ng-container>
  
      <ng-container cdkColumnDef="title">
        <th cdk-header-cell *cdkHeaderCellDef> Title </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.title}} </td>
      </ng-container>
  
      <ng-container cdkColumnDef="body">
        <th cdk-header-cell *cdkHeaderCellDef> Body </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.body}} </td>
      </ng-container>
  
      <thead>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      </thead>
      <tbody>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
      </tbody>
    </table>
  </div>
  -->
</div>