:host{
    display: block;
    height: 100%;
}
.top-apps {
    border: 1px solid #cac6c6;
    height: 100%;
    box-shadow: 1px 2px #cfcfcf;
    background-color: #ffff;
    .top-apps-header {
        //height: 40px;
        background-color: #f79804;
        position: relative;
        >i{
            position: absolute;
            top: 11px;
            left: 12px;
            color: #4e4b4b;
            font-size: 20px;
        }
        >h3{
            margin: 0;
            padding: 10px 10px 10px 35px;
            color: #fff;
            font-size: 19px;
            font-weight: normal;
        }
    }
    .top-apps-body {
        padding: 0 20px 20px 20px;
        background-color: #ffff;
        .timeline-alt {
            padding: 20px 0;
            position: relative;
            font-family: Nunito,sans-serif;
        }
        .timeline-alt .timeline-item {
            position: relative;
        }
        .timeline-alt .timeline-item::before {
            background-color: #c5e6f1;
            bottom: 0;
            content: "";
            left: 12px;
            position: absolute;
            top: 20px;
            width: 2px;
            z-index: 0;
        }
        .timeline-alt .timeline-item .timeline-icon {
            padding-top: 1px;
            float: left;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            border: 1px solid #89c9dc;
            //color: #1ccce8 !important;
            font-weight: bold;
            font-size: 12px;
            font-style: normal;
            text-align: center;
            line-height: 20px;
            background-color: rgba(57,175,209,.25)!important;
        }
        .timeline-alt .timeline-item .timeline-item-info {
            margin-left: 30px;
        }
        .text-info-type-1{
            display: block;
            color: #39afd1!important;
            font-weight: 700!important;
            text-decoration: none;
            font-size: 14.4px;
            margin-bottom: 6px;
        }
        .text-info-type-2{
            display: block;
            color: #727cf5!important;
            font-weight: 700!important;
            text-decoration: none;
            font-size: 14.4px;
        }
        small {
            font-size: 12px;
            font-weight: 400;
            color: #6c757d;
        }
        .text-muted{
            color: #98a6ad!important;
        }
        .pb-2, .py-2 {
            padding-bottom: .75rem!important;
        }
        .mb-0, .my-0 {
            margin-bottom: 0!important;
        }
        .mt-0 {
            margin-top: 0!important;
        }
    }
}

@media only screen and (max-width: 767px) {
    .top-apps {
        .top-apps-header{
            >h3{
                font-size: 16px;
            }
        }
        .top-apps-body{
            .timeline-alt .timeline-item::before {
                left: 12px;
            }
            .timeline-alt .timeline-item .timeline-icon {
                height: 24px;
                width: 24px;
                line-height: 20px;
            }
            .text-info-type-1{
                color: #2eadd2 !important;
            }
        }
    }
}