<div class="top-reasons">
    <div class="top-reasons-header">
        <i class="fa fa-minus-circle"></i>
        <h3>Top reasons why applications are down</h3>
    </div>
    <div class="top-reasons-body">
        <div class="timeline-alt pb-0" tag="div">
            <div class="timeline-item" tag="div" *ngFor="let topReason of topReasons; let odd=odd">
                <i class="fa fa-dot-circle-o bg-info-lighten text-info timeline-icon"></i>
                <div class="timeline-item-info">
                    <a href="/" class="{{ odd ? 'text-info-type-2' : 'text-info-type-1' }}" >
                        {{topReason.heading}}
                    </a>
                    <small>{{topReason.details}}</small>
                    <p class="mt-0 mb-0 pb-2"><small class="text-muted">Occurred <strong>{{topReason.occurance}}</strong> times in last 30 days</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
