:host{
    display: block;
    height: 100%;
}
.env-downcount {
    border: 1px solid #cac6c6;
    height: 100%;
    box-shadow: 1px 2px #cfcfcf;
    background-color: #ffff;
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 33px;
        padding: 0 12px;
    }
    .env-downcount-header {
        //height: 40px;
        background-color: #f79804;
        position: relative;
        >i{
            position: absolute;
            top: 11px;
            left: 12px;
            color: #4e4b4b;
            font-size: 20px;
        }
        >h3{
            margin: 0;
            padding: 10px 10px 10px 35px;
            color: #fff;
            font-size: 19px;
            font-weight: normal;
        }
    }
    .env-downcount-body {
        padding: 0 20px 20px 20px;
        background-color: #ffff;
        .btn-toggle-container {
            margin-bottom: 30px;
            text-align: right;
            padding: 10px 0;
            .mat-button-toggle-checked {
                background-color: #f76f04;
                color: #fff;
            }
            .mat-button-toggle-group{
                height: 35px;
                border-radius: 0;
                .mat-button-toggle.mat-button-toggle-appearance-standard{
                    .mat-button-toggle-button{
                        .mat-button-toggle-label-content{
                            font-size: 14px;
                            line-height: 33px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .env-downcount {
        .env-downcount-header{
            >h3{
                font-size: 16px;
            }
        }
        .env-downcount-body{
            .pie-chart-container-mob{
                position: relative;
                height: 300px;
            }
        }
    }
}