<div class="env-downcount">
    <div class="env-downcount-header">
        <i class="fa fa-minus-circle"></i>
        <h3>Environment wise down count of ESB applications</h3>
    </div>
    <div class="env-downcount-body">
        <div class="btn-toggle-container">
            <mat-button-toggle-group name="fontStyle" appearance="legacy" aria-label="Font Style" [value] = "selectedView" (change)="onSelectedViewChange($event)">
                <mat-button-toggle value="daily">Daily</mat-button-toggle>
                <mat-button-toggle value="weekly">Weekly</mat-button-toggle>
                <mat-button-toggle value="monthly">Monthly</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="{{pieChartContainerCls}}">
            <canvas baseChart width="100%"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [colors]="pieChartColors"
                [legend]="pieChartLegend">
            </canvas>
        </div>
    </div>
</div>

