<div class="overall-downcount">
    <div class="overall-downcount-header">
        <i class="fa fa-minus-circle"></i>
        <h3>Overall down count of ESB applications</h3>
    </div>
    <div class="overall-downcount-body">
        <div class="btn-toggle-container">
            <mat-button-toggle-group name="fontStyle" appearance="legacy" aria-label="Font Style" #group="matButtonToggleGroup" [value] = "selectedView" (change)="onSelectedViewChange($event)">
                <mat-button-toggle value="daily">Daily</mat-button-toggle>
                <mat-button-toggle value="weekly">Weekly</mat-button-toggle>
                <mat-button-toggle value="monthly">Monthly</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="{{lineChartContainerCls}}">
            <canvas baseChart width="100%" 
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>
</div>
